.data{
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: blue;
}
.data2{
    margin: auto;
    text-align: center;
   
  
}
.data2 input{
    width: 300px;
   border-radius: 10px;
   height: 40px;
   margin: 10px 5px; 
}
.data2 button{
    width:290px;
    margin: 10px;
    background-color: blue;
    font-size: 25px;
    border-radius: 2px 2px;
}
